### Count of Flower
##### Problem Statement
Find and print count of each kind of flower (separated by space)?

In [2]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
column_name = ['SeapalLength','SeapalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=column_name)
for i in iris['Species'].value_counts():
    print(i,end = " ")

50 50 50

### Iris Virginica
##### Problem Statement
Find the data of flower “Iris-virginica” type where petal-length > 1.5?

In [3]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
column_name = ['SeapalLength','SeapalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=column_name)
iris=iris[iris.Species=="Iris-virginica"]
iris=iris[iris.PetalLength>1.5]
iris=iris.values
for i in iris:
    print(*i)

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

### Iris Values

##### Problem Statement
Find and print the minimum, maximum and average value of the feature for each kind of flower ?

In [4]:
import pandas as pd
columns = ['sl','sw','pl','pw','flower_type']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)

df1 = df[df.flower_type=='Iris-setosa']
print('%.2f'%min(df1['sl']),'%.2f'%min(df1['sw']),'%.2f'%min(df1['pl']),'%.2f'%min(df1['pw']),df1.iloc[0,4])
print('%.2f'%max(df1['sl']),'%.2f'%max(df1['sw']),'%.2f'%max(df1['pl']),'%.2f'%max(df1['pw']),df1.iloc[0,4])
print('%.2f'%(df1['sl'].mean()),'%.2f'%(df1['sw'].mean()),'%.2f'%(df1['pl'].mean()),'%.2f'%(df1['pw'].mean()),df1.iloc[0,4])

df2 = df[df.flower_type=='Iris-versicolor']
print('%.2f'%min(df2['sl']),'%.2f'%min(df2['sw']),'%.2f'%min(df2['pl']),'%.2f'%min(df2['pw']),df2.iloc[0,4])
print('%.2f'%max(df2['sl']),'%.2f'%max(df2['sw']),'%.2f'%max(df2['pl']),'%.2f'%max(df2['pw']),df2.iloc[0,4])
print('%.2f'%(df2['sl'].mean()),'%.2f'%(df2['sw'].mean()),'%.2f'%(df2['pl'].mean()),'%.2f'%(df2['pw'].mean()),df2.iloc[0,4])

df3 = df[df.flower_type=='Iris-virginica']
print('%.2f'%min(df3['sl']),'%.2f'%min(df3['sw']),'%.2f'%min(df3['pl']),'%.2f'%min(df3['pw']),df3.iloc[0,4])
print('%.2f'%max(df3['sl']),'%.2f'%max(df3['sw']),'%.2f'%max(df3['pl']),'%.2f'%max(df3['pw']),df3.iloc[0,4])
print('%.2f'%(df3['sl'].mean()),'%.2f'%(df3['sw'].mean()),'%.2f'%(df3['pl'].mean()),'%.2f'%(df3['pw'].mean()),df3.iloc[0,4])

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

### Problem Statement :
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.
Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

In [62]:
import pandas as pd
df = pd.read_csv("terrorismData.csv")
df.head()

a=df[df.State=="Jammu and Kashmir"]

city_list = a['City'].value_counts()
city = city_list.index[0]
attack = city_list.values[0]
#print(city_list)
b=a[a.City==city]
group=b.Group.value_counts().index[1]
print(city,attack,group)

Srinagar 657 Muslim Separatists

In [64]:
import pandas as pd
import numpy as np
df = pd.read_csv('terrorismData.csv')
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

### Problem Statement :
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
1. Total number of attacks done in this period in India. Find this count as integer.
2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
3.Ignore the Unknown group

In [89]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
import numpy as np
df = pd.read_csv('terrorismData.csv')

a = df[df.Day>=26]
b = a[a.Year==2014]
c = b[b.Country=='India']
ans1 = c[c.Month==5]

d = df[df.Year==2014]
e = d[d.Country=='India']
ans2 = e[e.Month>5]

f = df[df.Country=='India']
ans3 = f[f.Year>2014]

count = ans1.shape[0] + ans2.shape[0] + ans3.shape[0]

ans1=ans1[ans1.Group!='Unknown']
ans2=ans2[ans2.Group!='Unknown']
ans3=ans3[ans3.Group!='Unknown']

print(count,ans3.Group.describe().top)

3336 Maoists

### Problem Statement :
Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)
Print frequency as integer value.
Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

In [88]:
import pandas as pd
import numpy as np
df = pd.read_csv('terrorismData.csv')

year = len(set(df['Year']))

df = df[df.Country == 'India']
df['Casualty'] = df['Killed'] + df['Wounded']

jk = df[df.State == 'Jammu and Kashmir']
rc = df[(df.State == 'Jharkhand') | (df.State == 'Odisha') | (df.State == 'Andhra Pradesh') | (df.State == 'Chhattisgarh')]

jkc = int(np.sum(jk['Casualty']))
rcc = int(np.sum(rc['Casualty']))

print(rcc//year,jkc//year)

5448.0

### Problem Statement :
Most Deadliest attack in a history of HumanKind?
Print count of Killed people as integer value.
Note: Here Deadliest attack means, in which the most number of people killed.

In [92]:
import pandas as pd
df = pd.read_csv('terrorismData.csv')

df = df[df.Killed==df.Killed.max()]
mx_killed = df.Killed.iloc[0]
country = df.Country.iloc[0]
group = df.Group.iloc[0]
print(int(mx_killed), country, group)

1570 Iraq Islamic State of Iraq and the Levant (ISIL)