In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("startup_funding.csv")
data.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [7]:
amount = data["Amount in USD"]
amount.head()

0    20,00,00,000
1       80,48,394
2     1,83,58,860
3       30,00,000
4       18,00,000
Name: Amount in USD, dtype: object

In [8]:
amount.dropna(inplace=True)

In [9]:
a1 = amount.str.replace(',' , '')
a1.head()

0    200000000
1      8048394
2     18358860
3      3000000
4      1800000
Name: Amount in USD, dtype: object

In [14]:
a2 = pd.to_numeric(a1,errors='coerce')
a2[0]

200000000.0

In [15]:
type(a2)

pandas.core.series.Series

In [18]:
#PARAMETER
pop_avg = a2.mean()
pop_min = a2.min()
pop_max = a2.max()
print(pop_avg)
print(pop_min)
print(pop_max)

18429897.27080872
16000.0
3900000000.0

In [38]:
population = a2
sample_size = 100
sample = population.sample(sample_size , random_state = 1)
sample.shape

(100,)

In [40]:
#STATISTIC
sample_avg = sample.mean()
sample_max = sample.max()
sample_min = sample.min()
print(sample_avg)
print(sample_max)
print(sample_min)

#SAMPLING ERROR = PARAMETER - STATISTIC
#Our goal is minimize the error

14931010.0
260000000.0
100000.0